<html>
  <head>
    <title>Help Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="white">
    <table bgcolor="white" width="100%">
      <h1>Reports Menu</h1>
    <h2>Welcome to the main reports menu!</h2>
    <p1>
        Here is the links to each reports!
        <br><br><br><a href="/reports/customerreports">Click her to go to the customer reports page!</a>
        <br><br><a href="/reports/productreports">Click her to go to the products reports page!</a>
        <br><br><a href="/reports/salesreports">Click her to go to the sales reports page!</a>
    </p1>
    </table>
  </body>
</html>