<!DOCTYPE html>
<html>
    <head>
        <title>Nacho Tech</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="white">
        <table bgcolor="white" width="100%">
            <h1> About The Company </h1>
            <img src="/images/logo.jpeg" width="200" height="200">
            <p1>
                So in this company, we are responsible for creating amazing gadgets and computing units ranging from mini computers to networking equipments.
                <br>We are based on Chicago Illinois and has been founded a day ago.
            </p1>
        </table>
    </body>
</html>