<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body bgcolor="white">
    <table bgcolor="white" width="100%">
        <h1> Here is the contact information:</h1>
        <img src="/images/logo.jpeg" width="200" height="200">
        <p1> <br>Name: Steven Frausto</p1>
        <p1> <br>Phone #: (111)111-1111</p1>
        <p1><br>Email: <a href="mailto:sfraust1@depaul.edu">sfraust1@depaul.edu</a> </p1>
    </table>
</body>
</html>
