<!DOCTYPE html>
<html>
  <head>
    <title>Help Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="white">
    <table bgcolor="white" width="100%">
      <h1>Help Page</h1>
    <h2>Welcome to the Help Page!</h2>
    <p1>If you have any issues with purchases, shipment information, etc.
        <br>Please email me at:<a href="mailto:steven.frausto@nachoweb.tech">steven.frausto@nachoweb.tech.</a>
        <br>I'm available to respond on weekends 8am-10pm and weekdays 8am-10pm.
        <br>You can also mail me at 1 E Jackson Blvd, Chicago IL 60604.
        <br><br><br><img src="/images/logo.jpeg" width="200" height="200">
        <br><br><br><br><br><br><br><br><br><br><br>
        <br>Thank you,
        <br>-Steven Frausto
    </p1>
    </table>
  </body>
</html>