<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="white">
    <table bgcolor="white" width="100%">
      <h1>Privacy Page</h1>
    <h2>Welcome to the Privacy Page</h2>
    <p1>This is a page to disclose the amount of data we collect from our user. <br>We collect
        First and Last Name, username, password, address, email address, shipment information
        and what items have been bought by the user.
    </p1>
    <p2><br>If you wished to delete your past order and other information from our database.
        <br>Please email me at:<a href="mailto:steven.frausto@nachoweb.tech">steven.frausto@nachoweb.tech.</a> Thank you.</p2>
    </table>
  </body>
</html>