<html>
  <head>
    <title>Help Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="white">
    <tr><td> <%- include("../header") %> </td></tr>
    <table bgcolor="white" width="100%">
        <h1>You love Bepis?</h1>
        <p1>So do I!</p1>
    </table>
    <tr><td> <%- include("../footer") %> </td> </tr>
  </body>
</html>